:root {
    --font-primary: 'Edu TAS Beginner', cursive;
}

/** RESET **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

/* HEADER */
header {
    background-image: url(../img/wall.png);
}

.title {
    font-family: 'Edu TAS Beginner', cursive;
    font-optical-sizing: auto;
    text-align: center;
    font-size: 70px;
    padding: 35px 0;
}

/* MAIN */

main {
    background-image: url(../img/cork.png);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

#grid {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    width: calc((100% - 40px) / 3);
    position: relative;
    max-width: max-content;
}

.card-top {
    max-width: 600px;
    max-height: 600px;
}

.card-top img {
    object-fit: cover;
}

.img-pin {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
}

.card-info {
    font-family: var(--font-primary);
    font-optical-sizing: auto;
    margin-top: 20px;
    max-width: 600px;
}
